<mat-card class="gateway-parameter-card">

	<form [formGroup]="formGroup" >
        <mat-card-header>
			
			<mat-card-title>

				<mat-form-field>
					<mat-label>Key</mat-label>
					<input matInput required formControlName="keyFormControl" >
					<mat-error *ngIf="formGroup.controls.keyFormControl.invalid">
						{{getKeyErrorMessage()}}                   
					</mat-error>
				</mat-form-field>
				<mat-card-subtitle><small>{{gatewayParameter.uuid}}</small></mat-card-subtitle>
			</mat-card-title>
		</mat-card-header>

		<mat-card-content>

			<mat-form-field class="full-width">
				<mat-label>Value</mat-label>
				<input matInput required formControlName="valueFormControl" >
				<mat-error *ngIf="formGroup.controls.valueFormControl.invalid">
					{{getValueErrorMessage()}}                   
				</mat-error>
			</mat-form-field>

		</mat-card-content>

		<mat-card-actions>
			
			<button mat-button (click)="refresh()" [disabled]="(gatewayParameter.key === '' || !saveMode)">
                <span class="material-icons">
                    refresh
                </span>
            </button>

			<button mat-button (click)="save()" *ngIf="saveMode"
				[disabled]="( formGroup.controls.keyFormControl.invalid || formGroup.controls.valueFormControl.invalid )">
				<span class="material-icons">
					save
				</span>
			</button>

            <button mat-button (click)="enable()" *ngIf="!saveMode">
                <span class="material-icons">
                    edit
                </span>
            </button>

            <button mat-button (click)="delete()" [disabled]="gatewayParameter.key == ''">
                <span class="material-icons">
                    delete
                </span>
            </button>

		</mat-card-actions>
    </form>

</mat-card>