<mat-divider></mat-divider>
<button mat-menu-item (click)="goHome()" >
    <mat-icon>home</mat-icon>
    <a>Home</a>
</button>
<mat-divider></mat-divider>
<button mat-menu-item (click)="goAdmin()">
    <mat-icon>build_circle</mat-icon>
    <a>Payment Admin</a>
</button>
<button mat-menu-item (click)="goPurchase()">
    <mat-icon>view_list</mat-icon>
    <a>Purchase History</a>
</button>
<mat-divider></mat-divider>
<button mat-menu-item (click)="goLogoff()">
    <mat-icon>power_settings_new</mat-icon>
    <a>Logoff</a>
</button>