<mat-drawer-container class="drawer-container">
    <mat-drawer-content>
        <mat-tab-group>
            <!--
            <mat-tab label="Payment Link">
                <app-pay-link></app-pay-link>
            </mat-tab>
            <mat-tab label="Gateway Configuration">
                <app-gateway-config></app-gateway-config>
            </mat-tab>
            -->
            <mat-tab label="Gateways">
                <app-gateway-setup></app-gateway-setup>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>
